
/*메인이미지*/

#main-wrap{
    width: 100%;
    height: 969px;
    position: relative;
    left: 0px;
    top: 0px;
}
#main-wrap::after{
    content: "";
    width: 50%;
    height: 100%;
    background-color: #666666;
    position: absolute;
    top: 0px;
    z-index: -1;

}

#main-wrap::before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: #d2cdc9;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;

}
#main-center{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
}

/* #main-center img{
    width: 58%;
    position: absolute;
    top: 150px;
} */

.main-img{
    width: 58%;
    position: absolute;
    top: 150px;
}

#maintitle{
    font: bold 7em 'Noto Sans';
    color: white;
    position: absolute;
    top: 140px;
}

.main-text{
    font: normal 0.75em 'Noto Sans';
    color: white;
    position: absolute;
    top: 300px;
}

.right-text{
    text-align: end;
    position: absolute;
    left: 51%;
    top: 750px;
}

#main-big-text{
    font: bold 2.2em 'Noto Sa2ns';
    color: white;
    position: absolute;
    left: 21%;
    top: 750px;
}
.main-btn{
    width: 17%;
    position: absolute;
    top: 450px;
    left: 70%;
}

/*메인이미지 끝*/


/*컨텐츠*/

#content-wrap{
    width: 100%;
    height: auto;
  
}

#content-center{
    width: 1200px;
    height: 900px;
    margin: 0px auto;
    /* position: relative;
    left: 0px;
    top: 0px; */
}

#content-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute;
    top:-150px; */
    position: relative;
    left: 0px;
    top: -120px;
}
#content-menu li{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-img{
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 50%;
    padding: 25%;
    box-sizing: border-box;
    background: #f9f6ef;
    scale: 0.9;
}

.content-img img{
    width: 100%;
}

.padding-img{
    padding: 25% 25% 30% 25%;
}

.content-menu-title{
    font: bold 1.45em 'Noto Sans';
    color: #666666;
}

.content-menu-text{
    font: normal 1em 'Noto Sans';
    text-align: center;
    padding: 10%;
    box-sizing: border-box;
    color: #666666;
}

.content-menu-btn{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 1em 'Noto Sans';
    border: solid 2px #666666;
    border-radius: 70px;
    color: #666666;
    transition: all 0.3s ease-out;
}

.content-menu-btn:hover{
    background: #666666;
    color: white;
}

#content-text-wrap{
    width: 100%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bold-text{
    font: bold 2.25em 'Noto Sans';
    color: #666666;
    margin-bottom: 40px;
}

.normal-text{
    font: normal 1.25em 'Noto Sans';
    color: #666666;
}

#img-text-content-center{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #f9f6ef;
}

.img-half{
    width: 50%;
}

.img-half img{
    width: 100%;
    display: block;
    object-fit:cover
}

.text-half{
    width: 50%;
    margin-left: 50px;  
}

.img-text-btn{
    margin-top: 15%;
}




#door-img-center{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#door-img-num{
    position: relative;
    top: -270px;
    left: 300px;
}

#door-img-num-list li a{
    font: bold 5em 'Noto Sans';
    color: #666666;
}

#door-img-num-btn{
    color: #666666;
}

.door-left-btn{
    position: absolute;
    top: 40px;
    left: -80px;
}
.door-right-btn{
    position: absolute;
    top: 40px;
    left: 140px;
}

#door-img-text{
    position: relative;
    top: 60px;
    left: 70px;
}


#door-img-list-wrap{
    width: 50%;
}

#door-img-list{
    width: 600%;
    display: flex;

}

#door-img-list li{
    margin-left: 20px; 
}

#door-img-list li img{
    width: 100%;
   
}






@media screen and (max-width:1200px){
    #main-center,#content-center{
        width: 100%;
    }
}


@media screen and (max-width:1000px){
    .main-btn{
        top:35%;
    }
    #main-big-text{
        font-size: 24px;
        top: 65%;    
    }
    .right-text{
        font-size: 10px;
        top: 65%; 
    }
    .bold-text{
        font-size:26px
    }
    .normal-text{
        font-size:14px
    }
    .img-half img{
        scale: 0.9;
    }

}

@media screen and (max-width:800px){
    #main-big-text,.right-text{
        top: 55%;
    }
     #maintitle{
        font-size: 80px;
    }

    #door-img-text{
        top: 20px;
    }
   
}