
/*메인이미지*/

#main-wrap{
    width: 100%;
    height: 969px;
    position: relative;
    left: 0px;
    top: 0px;
}
#main-wrap::after{
    content: "";
    width: 50%;
    height: 100%;
    background-color: #666666;
    position: absolute;
    top: 0px;
    z-index: -1;

}

#main-wrap::before{
    content: "";
    width: 50%;
    height: 100%;
    background-color: #d2cdc9;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;

}
#main-center{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
}


.main-img{
    width: 58%;
    position: absolute;
    top: 350px; /*150*/
    opacity: 0;
}

#maintitle{
    font: bold 7em 'Noto Sans';
    color: white;
    position: absolute;
    top: 240px; /*140*/
    opacity: 0;
}

.main-text{
    font: normal 0.75em 'Noto Sans';
    color: white;
    position: absolute;
    top: 450px; /*300*/
    opacity: 0;
}

.right-text{
    text-align: end;
    position: absolute;
    right: 100px; /*255*/
    top: 750px;
    opacity: 0;
}

#main-big-text{
    font: bold 2.2em 'Noto Sa2ns';
    color: white;
    position: absolute;
    left: 95px; /*250*/
    top: 750px;
    opacity: 0;
}


.main-btn{
    width: 17%;
    position: absolute;
    top: 450px;
    right:0px; /*150*/
    opacity: 0;
    transition: all 0.1s ease-out;
   
    
}

.main-btn:hover{
    scale: 1.1;
    
    
}

/*메인이미지 끝*/


/*컨텐츠*/

#content-wrap{
    width: 100%;
    height: auto;
  
}

#content-center{
    width: 1200px;
    height: 900px;
    margin: 0px auto;
    /* position: relative;
    left: 0px;
    top: 0px; */
}

#content-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* position: absolute;
    top:-150px; */
    position: relative;
    left: -300px;
    top: -120px;
}
#content-menu li{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-out;
}

#content-menu li:first-child{
    position: absolute;
    left: 300px; 
    top: 150px
}

#content-menu li:nth-child(2){
    position: absolute;
    left: 600px;
    top: 150px; 
}

#content-menu li:nth-child(3){
    position: absolute;
    left: 900px;
    top: 150px; 
}

#content-menu li:last-child{
    position: absolute;
    left: 1200px;
    top: 150px; 

}

.content-img{
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 50%;
    padding: 25%;
    box-sizing: border-box;
    background: #f9f6ef;
    scale: 0.9;
}

.content-img img{
    width: 100%;
}

.padding-img{
    padding: 25% 25% 30% 25%;
}

.content-menu-title{
    font: bold 1.45em 'Noto Sans';
    color: #666666;
}

.content-menu-text{
    font: normal 1em 'Noto Sans';
    text-align: center;
    padding: 10%;
    box-sizing: border-box;
    color: #666666;
}

.content-menu-btn{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 1em 'Noto Sans';
    border: solid 2px #666666;
    border-radius: 70px;
    color: #666666;
    transition: all 0.3s ease-out;
}

.content-menu-btn:hover{
    background: #666666;
    color: white;
}

.circle {
	position: absolute;
    top: -125px;
    right: 190px;
	width: 200px;
	height: 250px;
	border-radius: 125px;

}

.logo-text{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #666666;
	font-size: 17px;
	animation: textRotation 8s linear infinite;
}

.logo-text span{
	position: absolute;
	left: 50%;
    font: bold 1.25em 'Noto Sans';
	transform-origin: 0 125px;
}

#content-text-wrap{
    width: 100%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    display: none;

    transform:scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    transition: all 0.2s ease-out;

}

#content-text-wrap>p>span{
    opacity: 0;
    filter: blur(4px);
    transition: all 0.2s ease-out;
}

.text-ani1>span:nth-child(1){
    animation: fade-in 0.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-ani1>span:nth-child(2){
    animation: fade-in 0.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.text-ani1>span:nth-child(3){
    animation: fade-in 0.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


.text-ani2>span:nth-child(1){
    animation: fade-in 0.5s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.text-ani2>span:nth-child(2){
    animation: fade-in 0.5s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.text-ani2>span:nth-child(3){
    animation: fade-in 0.5s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.text-ani2>span:nth-child(4){
    animation: fade-in 0.5s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.text-ani2>span:nth-child(5){
    animation: fade-in 0.5s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0); 
}
.text-ani2>span:nth-child(6){
    animation: fade-in 0.5s 2s forwards cubic-bezier(0.11, 0, 0.5, 0); 
}
.text-ani2>span:nth-child(7){
    animation: fade-in 0.5s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}
.text-ani2>span:nth-child(8){
    animation: fade-in 0.5s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}
.text-ani2>span:nth-child(9){
    animation: fade-in 0.5s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}
.text-ani2>span:nth-child(10){
    animation: fade-in 0.5s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}
.text-ani2>span:nth-child(11){
    animation: fade-in 0.5s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}
.text-ani2>span:nth-child(12){
    animation: fade-in 0.5s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}
.text-ani2>span:nth-child(13){
    animation: fade-in 0.5s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);   
}


.bold-text{
    font: bold 2.25em 'Noto Sans';
    color: #666666;
    margin-bottom: 40px;
}

.normal-text{
    font: normal 1.25em 'Noto Sans';
    color: #666666;
}



#img-text-content-center{
    width: 100%;
    height: 80%;
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f6ef;  
}


.img-half img{
    width: 100%;
    display: block;
    object-fit:cover;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.text-half{
    width: 50%;
    margin-left: 50px;
 
}
.half-bold-text{
    opacity: 0;
    transition: all 0.2s ease-out;
}
.half-normal-text{
    opacity: 0;
    transition: all 0.2s ease-out;
}

.img-text-btn{
    margin-top: 5%;
    opacity: 0;
}




#door-img-center{
    width: 1200px;
    height: 900px;
    margin: 0px auto;
    position: relative;
    left: 0px;
    top: 0px;
}

#door-left-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100px;
    top: 0px;
}

#door-img-num{
    position: absolute;
    top: 180px;
    left: 200px;
}

#door-img-num-list{
    
}

#door-img-num-list li{
    position: absolute;
    left: 0px;
    top: 0px;
}

#door-img-num-list li a{
    font: bold 5em 'Noto Sans';
    color: #666666;
}

#door-img-num-btn{
    color: #666666;
}

.door-left-btn{
    position: absolute;
    top: 40px;
    left: -80px;
}
.door-right-btn{
    position: absolute;
    top: 40px;
    left: 140px;
}

#door-img-text{
    position: absolute;
    top: 350px;
}


#door-img-list-wrap{
    width: 100%;
    z-index: -5;
    position: absolute;
    top: 150px;
    left: 600px;


}

#door-img-list li{
    position: absolute;
    left: 0px;
    top: 0px;
    
}


#door-img-list li img{
    width: 100%;
    height: 630px;
   
}






@media screen and (max-width:1200px){
    #main-center,#content-center,#door-img-center{
        width: 100%;
    }

    .img-half{
        width: 50%;
    }
}

@media screen and (max-width:1100px){

    .right-text{
        left: 500px;
        text-align: center;
    }

    #main-big-text{
        right: 500px;
        text-align: center;
    }
}

@media screen and (max-width:1000px){
    .main-btn{
        top:35%;
    }
    #main-big-text{
        font-size: 24px;
        top: 65%;    
    }
    .right-text{
        font-size: 10px;
        top: 65%; 
    }
    .bold-text{
        font-size:26px
    }
    .normal-text{
        font-size:14px
    }
    .img-half img{
        scale: 0.9;
    }

}

@media screen and (max-width:910px){

    #main-big-text{
        top: 60%;
        right:430px;
        
    }

    .right-text{
        top: 60%;
        left: 430px;
    }

}

@media screen and (max-width:800px){
    #main-big-text{
        top: 55%;
    }

    .right-text{
        top: 55%;
        left: 410px;
    }
     #maintitle{
        font-size: 80px;
    }


    #door-img-text{
        
    }

    .main-btn{
        left: 520px;
    }
   
}

@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

@keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}


